<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium natus enim, qui corrupti rerum fugiat
        inventore doloremque necessitatibus soluta unde veniam assumenda dignissimos quam labore, cupiditate quidem sit
        ad dolorum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam a necessitatibus cumque incidunt quas! Distinctio
        officia id fugit ad molestias. Iste vero consequuntur, optio corrupti libero quibusdam. Voluptates, quod vel.
    </p>

</body>

</html>